* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2f44;
}

.container_two,
.hours,
.absolute {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hours {
  font-size: 3.5em;
  margin-top: 35vh;
}

#ampm {
  font-size: 0.5em;
  padding-left: 10px;
  padding-bottom: 15px;
  color: #ebe39a;
}

#seconds {
  font-size: 2.7rem;
  color: #05fb8c;
  padding-left: 10px;
}

.container_two {
  gap: 10px;
}

#hour {
  color: #6071ff;
}

#minutes {
  color: #fd8287;
}

#column {
  color: #949492;
}

.all_container {
  border-radius: 15px;
  color: #6f5093;
  width: 85%;
  padding: auto;
  margin: auto 10%;
  box-shadow: #294f7c -20px 0px 37px 6px, #714d8c 25px 5px 37px 6px;
}

.year{
  text-align: center;
  padding: 20px 0;
  color: #FFB78F;
}
